#noticias ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    list-style: none;

}

#noticias ul #noticia5{
    order: -1;
    width: 98.5%;
    height: 200px;
    border: 1px solid violet;
}
#noticias ul #noticia1,
#noticias ul #noticia2,
#noticias ul #noticia3,
#noticias ul #noticia4 {
    height: 200px;
    width: 49%;
    border: 1px solid violet;
}
