#menú{
    border: 1px solid violet;
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
a{
    margin-left: 20px;
    margin-right: 20px;
    
}
